@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
  min-height: 100vh;
  position: relative;
}

[data-full],
.normal {
  font-weight: 600;
  position: relative;
  cursor: help;
  margin: 0.5em 0;
  color: #d3d3d3;
  font-size: 0.9em;
}

[data-full]:hover::before {
  content: attr(data-full);
  position: absolute;
  z-index: 2;
  bottom: -2.5em;
  padding: 4px;
  text-align: justify;
  border-radius: 4px;
  background: #333;
  color: #fff;
  font-size: 12px;
  border: 1px solid white;
}
[data-full]:hover::after {
  content: "";
  position: absolute;
  bottom: -0.5em;
  left: 8px;
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
}

/* typerwriter cursur styling */
.Typewriter__cursor {
  color: orange;
}

@keyframes text {
  0% {
    color: #00ffff;
  }
  40% {
    color: #ff1dce;
  }
  50% {
    color: #ff1493;
  }
  70% {
    color: #fd3f92;
  }
  100% {
    color: #ace5ee;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* to remove underline from links */
a {
  text-decoration: none;
  width: fit-content;
}
